/* https://coolors.co/bebdbf-f7f6f8-7839cd-a67edc-120f1d-d0cdd5 */
/* === Reset básico === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* === Estilo do Corpo === */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f9;
  color: #333;
}

/* Estilos para o header fixo */
.main-nav {
  background-color: #f4f4f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid #c6a1fb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 8px #D0CDD5;
  height: 60px;
}

/* Ajuste para alinhar o nome à direita */
.nav-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  order: 2; /* Coloca o título à direita */
}

.menu-items-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  order: 1; /* Coloca o menu à esquerda */
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.main-nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #7839cd;
}

/* Ícone de menu (hamburger) para mobile */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* === Estilos para dispositivos móveis === */
@media (max-width: 768px) {
  .main-nav {
    padding: 1rem;
  }

  /* Ícone de menu visível em mobile */
  .menu-icon {
    display: block;
    color: #333;
  }

  /* Configurações do dropdown de menu para mobile */
  #menu-items {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f4f9;
    position: fixed;
    top: 60px;
    right: 10px;
    width: 150px;
    padding: 1rem;
    border: 1px solid #a17ae0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

  /* Exibir menu em bloco quando ativo */
  .menu-icon.active + #menu-items {
    display: flex;
  }
}

/* Ajustes no Layout Principal */
.homepage-content-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto; /* Centraliza horizontalmente */
  min-height: 100vh; /* Garante que a altura ocupe toda a tela */
  flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
}

/* Ajustes na Seção da Imagem */
.homepage-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.homepage-image-section img {
  max-width: 100%;
  width: 700px; /* Aumenta o tamanho da logo */
  border-radius: 8px;
}

/* Ajustes na Seção de Texto */
.homepage-text-section {
  flex: 1.5;
  display: flex; /* Torna a seção de texto um contêiner flex */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente dentro da div */
  text-align: center;
  max-width: 500px;
  padding-right: 1rem;
}

/* Estilo do Título */
.homepage-text-section h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.homepage-highlight {
  color: #7839cd;
}

/* Texto Descritivo */
.homepage-text-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
}

/* Estatísticas */
.homepage-stats {
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.homepage-stat-item {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.homepage-stat-item strong {
  font-size: 1.5rem;
  display: block;
  color: #120F1D;
  text-shadow: 1px 5px 4px #9e71d7;
}

/* Botão */
/* Responsividade */
@media (max-width: 768px) {
  .homepage-content-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .homepage-image-section img {
    width: 300px;
  }

  .homepage-stats {
    flex-direction: column;
    gap: 1rem;
  }

  .homepage-text-section {
    text-align: center;
  }
}


/* === Estilo do Rodapé === */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}

/* === Estilo do Conteúdo Principal === */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.image-section img {
  max-width: 600px;
  border-radius: 8px;
}

.text-section {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-section p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  text-align: center;
}

/* === Estilo do Botão Iniciar === */
.start-btn {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #7839CD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Adiciona transição para o efeito de zoom */
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.start-btn:hover {
  background-color: #A67EDC;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Intensifica a sombra no hover */
  transform: scale(1.05); /* Efeito de zoom */
}


/* === Responsividade Geral === */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .content-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .image-section img {
    max-width: 150px;
  }

  .text-section p {
    font-size: 1rem;
  }

  .start-btn {
    width: 100%;
    max-width: 200px;
  }
}

/* Estilo para o título "Sumário de Conteúdos" */
.themes-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Espaço entre o título e os cards */
}

.themes-title h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}



/* Responsividade para o título */
@media (max-width: 768px) {
  .themes-title h1 {
    font-size: 2rem;
  }
}


/* === Estilos dos Cards na Página de Temas === */
/* Container dos cards */
/* Ajustes no Layout dos Cards */
.themes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards na tela */
  gap: 1.5rem;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 190px;
  height: 254px;
  position: relative;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: #232323;
  padding: 16px;
  border: 1px solid #232323;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(200%);
  transition: transform 0.5s ease-in, opacity 0.3s ease-in;
  opacity: 0;
  z-index: 2;
  height: 100%;
  text-align: center;
}

.card-border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px dashed #232323;
  border-radius: 8px;
  z-index: -1;
}

.card:hover {
  transform: translate(-15px, -15px);
  border-color: #a67edc;
}

.card:hover .card-hidden {
  transform: translateY(0);
  opacity: 1;
}

.card:hover .title {
  transform: translateY(200%);
}

.title {
  position: absolute;
  bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: transform 0.25s ease-out;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.title-in {
  font-weight: 700;
  font-size: 1.25rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  border-radius: 24px;
  font-weight: 600;
  background-color: #5bc0eb;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #aa2b75;
}

/* === Responsividade dos Cards === */
@media (max-width: 1024px) {
  .themes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .themes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .themes-container {
    grid-template-columns: 1fr;
  }
}

/* === Página Unavailable === */
.unavailable-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.unavailable-content h1 {
  font-size: 2rem;
  color: #333;
}

.unavailable-content p {
  font-size: 1.2rem;
  color: #555;
  margin: 1rem 0;
}

.unavailable-content .button {
  padding: 0.5rem 1rem;
  background-color: #5bc0eb;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* === Página de Seleção de Modalidade === */
.modalidade-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.modalidade-title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

/* Container principal */
.modalidade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/* Ajuste para alinhar os cards em linha */
.modalidade-cards {
  display: flex;
  flex-wrap: wrap; /* Permite quebra em telas menores */
  gap: 2rem;
  justify-content: center;
}

.card-modalidade {
  --border-radius-modalidade: 0.75rem;
  --primary-color-modalidade: #7257fa;
  --secondary-color-modalidade: #3c3852;
  width: 300px;
  height: 250px;
  font-family: "Arial";
  padding: 1.5rem;
  cursor: pointer;
  border-radius: var(--border-radius-modalidade);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .modalidade-cards {
    flex-direction: column;
    align-items: center;
  }
}


.card-modalidade:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-modalidade > * + * {
  margin-top: 1.1em;
}

.card-modalidade .card__content-modalidade {
  color: var(--secondary-color-modalidade);
  font-size: 1rem;
}

.card-modalidade .card__title-modalidade {
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-modalidade .card__arrow-modalidade {
  position: absolute;
  background: #000; /* Cor preta inicial */
  padding: 0.5rem;
  border-top-left-radius: var(--border-radius-modalidade);
  border-bottom-right-radius: var(--border-radius-modalidade);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-modalidade:hover .card__arrow-modalidade {
  background: var(--primary-color-modalidade); /* Muda para a cor roxa ao hover */
}

.card-modalidade svg {
  fill: #000; /* Cor preta inicial do SVG */
  transition: fill 0.2s, transform 0.2s;
}

.card-modalidade:hover svg {
  fill: var(--primary-color-modalidade); /* Muda para roxo ao hover */
  transform: translateX(3px); /* Efeito de movimento ao hover */
}


/* === Página de Quiz === */
.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.quiz-content {
  max-width: 800px;
  text-align: center;
}

.quiz-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.quiz-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.5;
}

#questions-list {
  text-align: left;
  margin: auto;
  max-width: 600px;
}

.question {
  margin-bottom: 2rem;
}

.question-title {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.options {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.options li {
  padding: 0.5rem;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li.correct {
  background-color: #d4edda;
  color: #155724;
}

.options li.incorrect {
  background-color: #f8d7da;
  color: #721c24;
}

.explanation {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
  display: none;
}


/* Estilos para as imagens de questões práticas */
.practical-image {
  display: block;
  max-width: 100%;
  width: 80%; /* Para deixar um pouco de margem nas laterais em telas maiores */
  margin: 0 auto; /* Centraliza a imagem */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar */
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0.5rem; /* Espaço entre a imagem e as alternativas */
}

/* Hover para aumentar levemente a imagem em telas grandes */
@media (min-width: 768px) {
  .practical-image:hover {
    transform: scale(1.02);
  }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .practical-image {
    width: 90%; /* Ajusta o tamanho para dispositivos menores */
  }
}


/* Estilos para o cartão Flash Cards na página de modalidade */
.flashcards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.flashcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80px; /* Ajuste de altura para caber dentro do card */
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Centraliza o flashcard dentro do container */
}

.flashcard-teorico {
  background-color: #f43f5e;
}

.flashcard-pratico {
  background-color: #3b82f6;
}

.flashcard p.tip {
  font-size: 1em;
  font-weight: 700;
}

.flashcard p.second-text {
  font-size: 0.75em;
}

.flashcard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.flashcards-container:hover > .flashcard:not(:hover) {
  filter: blur(5px);
  transform: scale(0.95);
}


/* Botão "Ampliar" sobreposto à imagem */
.zoom-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.zoom-button:hover {
  background-color: #1e40af;
}

/* Estilo do contêiner da imagem prática */
.image-container {
  position: relative;
  display: inline-block;
}

/* Estilo para a imagem */
.practical-image {
  width: 100%;
  border-radius: 8px;
  display: block;
}

/* Estilo para o botão de "Ampliar" */
.zoom-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.zoom-button:hover {
  opacity: 1;
}

/* Estilo para o modal */
.image-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
  .zoom-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    bottom: 5px;
    right: 5px;
  }

  .modal-content {
    max-width: 90%; /* Limita a largura da imagem a 90% da tela */
  }

  .close {
    top: 10px;
    right: 15px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .zoom-button {
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
  }

  .modal-content {
    max-width: 95%; /* Limita ainda mais a largura em telas muito pequenas */
  }

  .close {
    top: 8px;
    right: 10px;
    font-size: 25px;
  }
}


/* === Estilos da Página de Modalidade Personalizados === */
.modalidade-container-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.card-modalidade-custom {
  --border-radius-modalidade-custom: 0.75rem;
  --primary-color-custom: #7257fa;
  --secondary-color-custom: #3c3852;
  width: 350px;
  height: 250px;
  font-family: "Arial";
  padding: 1.5rem;
  cursor: pointer;
  border-radius: var(--border-radius-modalidade-custom);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-modalidade-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-title-custom {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color-custom);
}

.card-content-custom {
  color: var(--secondary-color-custom);
  font-size: 1rem;
}

.card-arrow-custom {
  position: absolute;
  background: #000; /* Cor preta inicial */
  padding: 0.5rem;
  border-top-left-radius: var(--border-radius-modalidade-custom);
  border-bottom-right-radius: var(--border-radius-modalidade-custom);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-arrow-custom svg {
  fill: #000; /* Cor preta inicial do SVG */
  transition: fill 0.2s, transform 0.2s;
}

.card-modalidade-custom:hover .card-arrow-custom {
  background: var(--primary-color-custom); /* Muda para a cor roxa ao hover */
}

.card-modalidade-custom:hover svg {
  fill: var(--primary-color-custom); /* Muda para roxo ao hover */
  transform: translateX(3px); /* Efeito de movimento ao hover */
}

/* === Estilos Personalizados dos Flash Cards === */
.flashcards-container-custom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.flashcard-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80px;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.flashcard-teorico-custom {
  background-color: #f43f5e;
}

.flashcard-pratico-custom {
  background-color: #3b82f6;
}

.flashcard-tip-custom {
  font-size: 1em;
  font-weight: 700;
}

.flashcard-description-custom {
  font-size: 0.75em;
}

.flashcard-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.flashcards-container-custom:hover > .flashcard-custom:not(:hover) {
  filter: blur(5px);
  transform: scale(0.95);
}


/* Estilos para Flashcards */
#flashcards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 20px;
}

/* Modelo de Card 3D */
.three-d-card {
  position: relative;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.three-d-card:hover .card-wrapper {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3498db;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}

.card-face.front {
  transform: rotateY(0deg);
}

.card-face.back {
  transform: rotateY(180deg);
  background-color: #e3e3e3;
}

.card-content {
  text-align: center;
  color: #333;
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

.flashcard-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
